@inject NavigationManager navigationManager

<div id="MainContainer">
    <div id="MainHeader">
        <a href="index.html" @onclick="navigate_to_index" @onclick:preventDefault>
            <h1>GmodNET nightly builds</h1>
        </a>
    </div>
    <div id="Container">
        <BuildBrowser />
    </div>
</div>

@code{
    void navigate_to_index()
    {
        navigationManager.NavigateTo("index.html");
    }
}
