@inherits LayoutComponentBase

<div class="container-fluid d-flex justify-content-center text-white" style="background-color: #7952b3">
    <h2>GmodNET Nightly Builds</h2>
</div>

<div class="page">
    @Body
</div>
